.mainContainer{
    display: block;
    width: 100vw;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    height: 60%;
    align-items: center;
    background-color: white;
}
.arrow{
   position:absolute;top:6rem ;left :7rem
}
.alldata{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 55px;
    column-gap: 2rem;
}
.desc{
    margin-top: 8rem;
    align-items: center;
    text-align: center;
    width: 50%;
   
}
        


 @media screen and (max-width:900px) {
    
 .arrow{
    width: 100%;
    position:fixed;top:0px;left :0rem

 }
.mainContainer{
  /* transform: scale(0.7)   ;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction:column;
  justify-content: center;
  column-gap: 5rem;
  margin-left:-10px; */
}
.alldata{
    width: 100%;
    /* width: 100%;
    display: grid;
    grid-template-columns: row;
    column-gap: 5rem;
    row-gap: 5rem;    */
    /* display:'grid'; */
    /* grid-template-rows: auto; */
    /* row-gap: 2rem; */

 
}
.image{
    width: 100%;
    height: auto;
margin-top: 1rem;
padding-top: 1rem;

}
.desc{
text-align: center;  align-items: center;
  height: auto;
padding-bottom: -5rem;
}

 }